body {
    max-width: 80vw;
    margin: 0 auto;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    color: #ffffff;
    font-family: 'Raleway';
}

h1 {
  margin-top: 10vh;
  margin-bottom: 5vh;
  font-family: 'Lora';
  font-size: 3em;
}

footer {
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.wrapper {
    display: grid;
    margin-top: 5%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: minmax(200px, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 5em;
  }

.box {
    height: 250px;
    object-fit: cover;
    display: block; 
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    position: relative;
    border-radius: 3px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    text-align: center;
    background-color: #ffffff;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

.box::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box:hover {
    -webkit-transform: scale(1.10, 1.10);
    transform: scale(1.10, 1.10);
  }
  
  .box:hover::after {
      opacity: 1;
  }

  .project-generic {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  }
  
  .project-space {
    background-image: url("https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-position: center; 
  }

  .project-mp {
    background-image: url("https://cdn.pixabay.com/photo/2014/11/13/23/34/london-530055_1280.jpg");
    background-position: center; 
  }

  .project-gallery {
    background-image: url("https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
    background-position: center; 
  }

  .project-stars {
    background-image: url("https://i.ytimg.com/vi/qWDmlFsIMHM/maxresdefault.jpg");
    background-position: center;
  }

  .project-fractal {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  }
  
  .project-graphics {
    background: linear-gradient(90deg, #FF8000 0%, #FFFF00 100%);
  }
