* {
    padding: 0;
    margin: 0;
    line-height:1.35;
}

html { 
    scroll-behavior: smooth;
}

h1 {
    font-size: 5em;
    font-family: 'Frank Ruhl Libre', ;
}

.grid-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    width: 100vw;
    grid-template-areas:  
        "header"
        "main"
        "main"
        "footer";
}

.header {
    grid-area: header;
    background-color: #0057ff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    min-height: 10vh;
}

.main {
    grid-area: main;
    color: #000000;
    height: 50vh;
    border: 1px solid green;
}

.item3 {
    background-color: blue;
}

.footer {
    grid-area: footer;
    text-align: center; 
    background-color: #f6f6f6;
    height: 30vh;
}